<nav class="encabezado">
    <div class="nav-wrapper">
      <a routerLink="/home" class="brand-logo">UrbanNav</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        <li><a  *ngIf="!sesionActiva" routerLink="/home">Inicio</a></li>
        <li><a  *ngIf="!sesionActiva" routerLink="/empresa">Quiénes somos</a></li>
        <li><a  *ngIf="!sesionActiva" routerLink="/Ayuda">Ayuda</a></li>
        <li><a  *ngIf="!sesionActiva" routerLink="/seguridad/identificar-usuario">Iniciar sesión</a></li>
        <li><a  *ngIf="!sesionActiva" routerLink="/registro">Registrarse</a></li>
        <li><a  *ngIf="sesionActiva" routerLink="/seguridad/cambiar-clave">Cambiar Clave </a></li>
        <li><a  *ngIf="sesionActiva" routerLink="/seguridad/cerrar-sesion">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>
 
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/home">Inicio</a></li>
        <li><a *ngIf="!sesionActiva" routerLink="/empresa">Quiénes somos</a></li>
        <li><a *ngIf="!sesionActiva" routerLink="/Ayuda">Ayuda</a></li>
        <li><a *ngIf="!sesionActiva" routerLink="/seguridad/identificar-usuario">Iniciar sesión</a></li>
        <li><a *ngIf="!sesionActiva" routerLink="/registro">Registrarse</a></li>
        <li><a  *ngIf="sesionActiva" routerLink="/seguridad/cambiar-clave">Cambiar Clave </a></li>
        <li><a  *ngIf="sesionActiva" routerLink="/seguridad/cerrar-sesion">Cerrar Sesión</a></li>
  </ul>
  
  <div *ngIf="sesionActiva">
    <app-menu-lateral> </app-menu-lateral>
  </div>  
